{:paths ["src/clj" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.12.0"}

        io.pedestal/pedestal.service  {:mvn/version "0.6.3"}
        io.pedestal/pedestal.jetty {:mvn/version "0.6.3"}
        metosin/reitit-pedestal {:mvn/version "0.9.1"}
        metosin/reitit {:mvn/version "0.9.1"}
        ring/ring-json {:mvn/version "0.5.1"}

        com.xtdb/xtdb-api {:mvn/version "2.0.0-beta8.1"}
        com.github.seancorfield/next.jdbc {:mvn/version "1.3.1002"}
        ;; https://mvnrepository.com/artifact/org.clojure/data.json
        org.clojure/data.json {:mvn/version "2.5.1"}
        clj-http/clj-http {:mvn/version "3.13.0"}
        ;; https://mvnrepository.com/artifact/org.clojure/data.codec
        org.clojure/data.codec {:mvn/version "0.2.0"}
        cheshire/cheshire {:mvn/version "6.0.0"}

        metosin/malli {:mvn/version "0.19.1"}
        
        com.password4j/password4j {:mvn/version "1.8.2"}
        
       org.clojure/clojurescript {:mvn/version "1.12.42"}
        
        thheller/shadow-cljs {:mvn/version "3.1.5"}
        
        lilactown/helix {:mvn/version "0.2.1"}
        
        }
 :aliases
 {:run-m {:main-opts ["-m" "xtest.xtest"]}
  :run-x {:ns-default xtest.server
          :exec-fn start
          }

  :build {:deps {io.github.clojure/tools.build
                 {:mvn/version "0.10.8"}}
          :ns-default build}
  :test {:extra-paths ["test"]
         :main-opts ["-m" "cognitect.test-runner"]
         :exec-fn cognitect.test-runner.api/test
         :extra-deps {org.clojure/test.check {:mvn/version "1.1.1"}
                      io.github.cognitect-labs/test-runner
                      {:git/tag "v0.5.1" :git/sha "dfb30dd"}}}}}
